/target

__pycache__

node_modules

.DS_Store

*.part

onshape/

www/pkg/


.zed

# samply record output file
profile.json.gz

Cargo.lock

convert_stl_to_obj.py
update_urdf.sh
www/static/mesh

www/static/OpenCatESP32S3
www/static/rom
www/src/assets/OpenCatESP32S3
www/src/assets/OpenCatESP32S3.ino.bin
www/src/assets/symbols.txt
