#threejs {
    height: 100vh; /* Fallback for older browsers */
    height: 100dvh; /* The "magic" unit that adjusts to mobile UI */
    flex: 1;
    position: relative;
    min-width: 0;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
